main .display-tweet-container {
  margin: 25px;
  border: darkgrey 1.5px solid;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  opacity: 0.75;
}

main .display-tweet-container:hover ,
main .display-tweet-container:hover .tools {
  opacity: 1;
}

header.display-tweets {
  background-color: #4cb5f5;
  height:70px;
}

footer.display-tweets {
  height: 40px;
  border-top: 1px solid grey;
}

img.twitter-image{
  height: 60px;
  width: 60px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 5px;
}

h2.name{
  display: inline;
  position: relative;
  top: -23px;
  padding-left: 10px;
  font-size: x-large;
  color: white;
}

h4.username {
  float:right;
  margin-right: 5px;
  margin-top: 5px;
  font-weight: lighter;
  color: white;
}

main .tweet-body{
  height: 100px;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  word-wrap: break-word;
}

.time-stamp {
  font-weight: lighter;
  font-size: small;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.tools {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  opacity: 0;
}

