main .display-tweet-container {
  margin: 25px;
  border: darkgrey 1px solid;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  opacity: 0.5;
}

main .display-tweet-container:hover {
  opacity: 1;
}

header.display-tweets {
  background-color: #EEE;
  height:70px;
}

footer.display-tweets {
  height: 40px;
  border-top: 1px solid grey;
}

img.twitter-image{
  height: 60px;
  width: 60px;
  margin-left: 5px;
  margin-top: 5px;
}

h2.name{
  display: inline;
  position: relative;
  top: -23px;
  padding-left: 10px;
  font-size: x-large;
}

h4.username {
  float:right;
  margin-right: 5px;
  margin-top: 5px;
  font-weight: lighter;
}

main .tweet-body{
  height: 100px;
  font-weight: normal;
  padding-top: 40px;
  padding-left: 10px;
}

.time-stamp {
  font-weight: lighter;
  font-size: medium;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.tools {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  opacity: 0.1;
}

.tools:hover{
  opacity: 1.0;
}

